$colorBase: #FFF;
$colorBase2: #000;
$colorBase3: #103A58;
$colorTitleSubtitle: #103A58;
$colorTitle: #5FC9F3;
$colorText: #9B9B9B;
$colorButton1: #55ABF5;
$colorButton2: #5FC9F3;
$colorLine: #C4C4C4;
$colorLine2: #F8F8F8;
$colorSort: #1E549F;
$colorCardText: #F9F9F9;
$colorInput: #F9F9F9;
$colorBg: #FDFDFD;



// $widthContainerHeader: 90%;
$widthContainerHeader: 1328px;
$widthContainerPage: 1185px;
