.course{
    margin-top: 20px;
    &__content{
        padding: 25px 34px 30px;
        @include bgBlock;
    }
    &__title{
        @include titleStyle;
        @include paddingBlock;
    }
    &__info, &__enabled, &__additional{
        margin-top: 20px; 
        @include paddingBlock;
        @include styleText;
        span{
            @include styleSpanText;

        }
    }
    &__info{
        &_list li{ 
            &::before{
                content: '-';
                padding-right: 4px;
            }
            
        }
    }
    &__enabled, &__additional{
        &_list li{
            &::before{
                content: '*';
                padding-right: 4px;
            }
        }
    }
    &__rates{
        margin-top: 17px;
        padding: 17px 0 20px;
        border-top: 1px solid rgba(196, 196, 196, 0.6);
        border-bottom: 1px solid rgba(196, 196, 196, 0.6);
        &_text{
            display: block;
            margin: 0 auto;
            max-width: 845px;
            @include styleText;
            text-align: center;
        }
        &_buttons{
            margin-top: 32px;
            display: flex;
            justify-content: center;
            gap: 24px;
        }
        &_btn{
            display: block;
            padding: 15px 48px;
            @include btn;
            border: none;
            outline: none;
            color: $colorBase;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            &:hover{
                @include styleHoverBlueBtn;
            }
        }
    }
    &__table{
        display: table;
        margin-top: 20px;
        max-width: 1045px;
        margin-left: 20px;
        width: 100%;
        border-collapse: collapse;
        caption{
            @include titleStyle;
            text-align: left;
            margin-bottom: 20px;
        }
        thead th:nth-child(1), tbody td:nth-child(1) {
            width: 33%;
            text-align: left;
        }
        thead th:nth-child(2), tbody td:nth-child(2) {
            width: 33%;
            text-align: center;
        }
        thead th:nth-child(3), tbody td:nth-child(3) {
            width: 33%;
            text-align: right;
        }
        th, td{
            border-top: 1px solid rgba(196, 196, 196, 0.6);
            color: $colorText;
            text-align: justify;
            font-size: 18px;
            font-weight: 400;
        }
        th{
            padding: 19px 21px 20px;
            font-weight: 500;
        }
        td{
            padding: 28px 21px;
            border-bottom: 1px solid rgba(196, 196, 196, 0.6);
            
        }
        
    }
    &__enabled{
        margin-top: 31px;
    }
    &__additional{
        margin-top: 16px;
    }
}

@media (max-width: 375px) {
    .course{
        margin-top: 25px;
        &__content{
            padding: 22px 19px 24px;
        }
        &__title{
            font-size: 30px;
            margin: 0 5px;
        }
        &__info, &__enabled, &__additional{
            margin: 18px 6px 0; 
        }
        &__info{
            text-align: justify;
        }
        &__rates{
            margin-top: 11px;
            padding: 18px 0 30px;
            &_text{
                max-width: 100%;
            }
            &_buttons{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 13px;
            }
            &_btn{
                display: block;
                padding: 11px 30px;
                width: 100%;
                @include btn;
                border: none;
                outline: none;
                color: $colorBase;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                &:hover{
                    @include btn;
                    color: $colorBase;
                }
            }
        }
        &__table{
            display: table;
            margin-top: 20px;
            max-width: 100%;
            margin-left: 0;
            border-collapse: collapse;
            caption{
                text-align: center;
            }
            thead th:nth-child(1), tbody td:nth-child(1) {
                width: 33%;
                text-align: left;
            }
            thead th:nth-child(2), tbody td:nth-child(2) {
                width: 33%;
                text-align: center;
            }
            thead th:nth-child(3), tbody td:nth-child(3) {
                width: 33%;
                text-align: right;
            }
            th, td{
                font-size: 13px;
            }
            th{
                padding: 12px 10px;
                font-weight: 500;
            }
            td{
                padding: 12px 10px;
            }
            
        }
        &__enabled{
            margin-top: 25px;
        }
        &__additional{
            margin-top: 20px;
        }
    }
}