.diving-price{
    margin-top: 20px;
    &__content{
        padding: 25px 46px 38px;
        @include bgBlock;
    }
    &__title{
        @include titleStyle;
    }
    &__items{
        margin-top: 23px;
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
    &__item{
        padding: 17px 36px 28px 39px;
        @include bgArticle;
        &_title{
            @include itemTitleStyle;
        }
        &_block{
            margin-top: 13px;
            display: flex;
            gap: 142px;
        }
        &_left{
            display: flex;
            flex-direction: column;
            gap: 28px;
        }
        &_right{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &_subtitle{
            color: $colorText;
            text-align: justify;
            font-size: 16px;
            font-weight: 500;
        }
        &_btn{
            width: 229px;
            padding: 11px;
            @include btn;
            color: $colorBase;
            text-align: justify;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            &:hover{
                @include styleHoverBlueBtn;
            }
        }
        &_descr, &_info{
            @include styleText2;
            span{
                text-align: justify;
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 375px) {
    .diving-price{
        margin-top: 27px;
        &__content{
            display: none;
        }
        &__content_mobile{
            display: block;
        }
        &__title{
            text-align: center;
        }
        &__items{
            gap: 20px;
        }
        &__item{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px 25px 22px;
            &_title{
                font-size: 24px;
                text-align: left;
            }
            &_block{
                margin-top: 13px;
                display: flex;
                flex-direction: column;
                gap: 0;
            }
            &_btn{
                margin-top: 21px;
                width: 100%;
                &:hover{
                    @include btn;
                    color: $colorBase;
                }
            }
            &_info{
                margin-top: 10px;
            }
        }
    }
}