@import 'base/mixins';
@import 'base/variables';
@import 'base/reset';
@import 'base/fonts';
@import 'base/general';

@import 'blocks/header';
@import 'blocks/subscribe';
@import 'blocks/footer';
@import 'blocks/feedback';
@import 'blocks/callbackmodal';
@import 'blocks/registrmodal';
@import 'blocks/loginmodal';
@import 'blocks/forgetpassmodal';
@import 'blocks/newpassmodal';
@import 'blocks/carousel';

@import 'pages_style/main';
@import 'pages_style/shop_catalog';
@import 'pages_style/shop_products';
@import 'pages_style/shop_product';
@import 'pages_style/training';
@import 'pages_style/blog';
@import 'pages_style/contacts';
@import 'pages_style/tours';
@import 'pages_style/course';
@import 'pages_style/diving-price';
@import 'pages_style/certificate';
@import 'pages_style/tests';
@import 'pages_style/accountpage';
@import 'pages_style/cartpage';
@import 'pages_style/notfound';

html,
body {
	height: 100%;
}

body{
  font-family: "Roboto"; 
  
}
.wrapper {
	display: flex;
	flex-direction:column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}



