.subscribe{
    margin-top: 77px;   
    &__items{
        margin-top: 48px;
        padding: 0 138px;
        display: flex;
        gap: 38px;
    }
    &_item{
        display: flex;
        flex-direction: column;
        gap: 22px;
        width: 325px;
        padding: 41px 23px 43px;
        min-height: 316px;  
        border-radius: 10px;
        background: $colorBase;
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.10), 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
        &_img {
            display: block;
            margin: 0 auto;
            width: 102px;
            height: 102px;
        }
        &_descr{
            color: $colorBase3;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1.7px;
            text-transform: uppercase;
            opacity: 0.5;
        }
        &_btn{
            display: block;
            margin: 0 auto;
            padding: 11px 0;
            width: 229px;
            @include btn;
            color: $colorBase;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            &:hover{
                @include styleHoverBlueBtn;
            }
        }
        
    }
}
.subscribe__training{
    margin-top: 53px;
}
.subscribe__blog{
    margin-top: 52px;
}
.subscribe__contacts{
    margin-top: 58px;
}
.subscribe__course{
    margin-top: 29px;
}
.subscribe__diving-price{
    margin-top: 45px;
}
.subscribe__certificate{
    margin-top: 46px;
}
.subscribe__tests{
    margin-top: 39px;
}

@media (max-width: 375px){
    .container_mobile{
        padding-left: calc(50% - 177px);
        padding-right: calc(50% - 177px);
    }
    .subscribe{
        margin-top: 35px;
        &__items{
            margin-top: 26px; 
            padding: 0 14px;
            display: flex;
            flex-direction: column;
            gap: 26px;
        } 
        &__item{
            padding: 43px 23px;
            &_btn{
                display: block;
                margin: 0 auto;
                padding: 11px 0;
                width: 229px;
                @include btn;
                color: $colorBase;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                &:hover{
                    @include btn;
                    color: $colorBase;
                    outline: none;
                }
            }
        }
        &_img {
            margin-bottom:2px;
            width: 98px;
            height: 98px;
        }
    }
}